.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.counter .row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.counter .row > * {
  margin: 8px;
}